body.login-signup-background {
    background-image: url(../public/app/background_path.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 70%;
}

html {
    min-height: 100%;
}

div.auth-form-container {
    padding: 60px 0;
}

div.auth-form-container form {
    margin: 0 auto;
    max-width: 320px;
}

div.auth-form-container .auth-button {
    margin-bottom: 10px;
}

div.cake-logo-container {
    background-image: url(../public/app/logo.png);
    background-size: cover;
    width: 147px;
    height: 169px;
    margin: 0 auto;
    margin-bottom: 20px;
}

input.form-control.login-signup-input {
    background-color: #f7ebfe;
    border-radius: 30px;
    height: 55px;
    border: 0px;
}