body.login-signup-background {
    background-image: url(../public/app/background_path.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 70%;
}

html {
    height: 100%;
}