button.cake-form-button {
    font-size: 22px;
    border-radius: 30px;
    color: white;
    line-height: 1.5;
    width: 100%;
    border: 0px;
}

button.cake-form-button.cake-form-button-cancel-style {
    border: solid 2px #4a4a4a;
    color: black;
}

button.cake-form-button.cake-form-button-cancel-style:hover {
    opacity: 0.5;
}

button.cake-form-button.btn[disabled] {
    opacity: 0.2;
}

div.cake-button-parent {
    text-align: center;
    border-radius: 30px;
    background-color: white;
}
