.speech-bubble-text {
    color: white;
    padding: 15px;
    margin-bottom: 0px;
}

.speech-bubble {
    position: relative;
    background: #85D0BC;
    border-radius: .4em;
    margin-left: 25px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 1.0em solid transparent;
    border-right-color: #85D0BC;
    border-left: 0;
    margin-top: -1.0em;
    margin-left: -1.0em;
}