ul {
    margin: 0;
}

ul.dashed {
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

ul.dashed > li {
    text-indent: -5px;
}

ul.dashed > li:before {
    content: "— ";
    text-indent: -5px;
}

.centered-text {
    text-align: center
}

.cto-speech-bubble-container {
    display: flex
}

#brokerage-access-cto-says-tooltip > .tooltip-inner {
    max-width: none;
}

.steps-tooltip {
    /* same as bootstraps padding for col-xs-10 */
    margin-right: 15px;
}
