.steps-tooltip > .tooltip-inner {
    background-color: #85D0BC;
    opacity: 1;
    color: white;
    padding: 8px;
    font-size: 13px;
}

.steps-tooltip.tooltip > .tooltip-arrow {
    border-right-color: #85D0BC;
}

.tooltip.in {
    /* could not figure out how to do without important */
    opacity: 1 !important;
}
