.app-nav-container {
    padding-left: 0px;
    padding-right: 0px;
}

.App.container {
    margin-bottom: 40px;
}

nav.navbar {
  border-radius: 0px;
  border: 0px;
}

.app-nav-container .app-logo.navbar-brand {
  font-weight: bold;
  margin-left: -30px;
}

.app-nav-container .navbar-header {
  margin-left: 50%;
}

.app-logo {
    background-image: url(./public/app/navbar-logo.png);
    background-size: cover;
    height: 35px;
    width: 55px;
    margin-top: 7px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.app-nav-container .navbar-default .navbar-text {
    color: white;
}

.app-nav-container .navbar-default .navbar-nav>li>a {
    color: white;
}

.app-nav-container .navbar-default .navbar-nav>.active>a {
    background-color: #6c23ab;
}

div.center-text {
    text-align: center;
}

.purple-cake-text {
    color: #a33aff;
}