div.espp-details.row {
    display: table;
}

div.espp-details span.right {
    float: right;
}

div.espp-details div.col-xs-6 {
    padding-left: 40px;
    padding-right: 40px;
    float: none;
    display: table-cell;
    vertical-align: top;
}

div.espp-details-default {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    position: relative;
}

div.espp-details-default img {
    position: absolute;
    right: 35px;
    height: 70%;
    top: 14%;
    margin-top: -10px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    opacity: .24;
}

div.espp-details div.border-right {
    border-right: solid 1px #e2e2e2;
    position: relative;
    height: 100%;
}

div.espp-details div.border-left {
    border-left: solid 1px #e2e2e2;
    padding-bottom: 30px;
}

div.espp-details span.glyphicon-question-sign {
    padding-left: 2px;
    color: #ba6cff;
}

div.espp-details div.bottom-notes {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.espp-details a.modal-link {
    font-size: 12px;
    cursor: pointer;
}

.modal-header.espp-details-modal-header {
    border-bottom: none;
    padding: 15px 15px 0px 0px;
}

div.modal.espp-details-modal div.modal-dialog {
    margin-top: 100px;
}

div.personal-details-modal-text-content {
    margin: 40px;
    max-width: 100%;
    width: auto;
}

div.pad-bottom {
    padding-bottom: 40px;
}